<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appperguntas">

    <application
        android:name=".InformacoesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VisualizacaoDetalhadaActivity"
            android:label="@string/title_activity_visualizacao_detalhada"
            android:parentActivityName=".VizualizacaoRecyclerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appperguntas.VizualizacaoRecyclerActivity" />
        </activity>
        <activity
            android:name=".VizualizacaoRecyclerActivity"
            android:label="@string/title_activity_vizualizacao_recycler"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appperguntas.MainActivity" />
        </activity>
        <activity
            android:name=".CadastroDePerguntasActivity"
            android:label="@string/title_activity_cadastro_de_perguntas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastroDeConteudosActivity"
            android:label="@string/title_activity_cadastro_de_conteudos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appperguntas.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>